.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
docs/**
!icon.png
.vscode/querycanvas-connections.json
.vscode/db-connections.json
querycanvas-schema/**
querycanvas-results/**
db-schema/**
query-results/**
node_modules/**
